Package                 Version
----------------------- ------------
addict                  2.4.0
asttokens               3.0.1
certifi                 2026.2.25
click                   8.3.1
cloudpickle             3.1.2
colorama                0.4.6
comm                    0.2.3
contourpy               1.3.3
cycler                  0.12.1
dask                    2026.3.0
debugpy                 1.8.20
decorator               5.2.1
distributed             2026.3.0
executing               2.2.1
filelock                3.25.2
fonttools               4.62.1
fsspec                  2026.2.0
h5netcdf                1.8.1
h5py                    3.16.0
ipykernel               7.2.0
ipython                 9.11.0
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
Jinja2                  3.1.6
jupyter_client          8.8.0
jupyter_core            5.9.1
kiwisolver              1.5.0
locket                  1.0.0
loguru                  0.7.3
MarkupSafe              3.0.3
matplotlib              3.10.8
matplotlib-inline       0.2.1
more-itertools          10.8.0
mpmath                  1.3.0
msgpack                 1.1.2
nest-asyncio            1.6.0
networkx                3.6.1
numpy                   2.4.3
packaging               26.0
pandas                  3.0.1
parso                   0.8.6
partd                   1.4.2
pillow                  12.1.1
pip                     26.0.1
platformdirs            4.9.4
prompt_toolkit          3.0.52
psutil                  7.2.2
pure_eval               0.2.3
Pygments                2.19.2
pyparsing               3.3.2
pyproj                  3.7.2
python-dateutil         2.9.0.post0
PyYAML                  6.0.3
pyzmq                   27.1.0
scipy                   1.17.1
segyio                  1.9.14
segysak                 0.5.4
setuptools              82.0.1
six                     1.17.0
sortedcontainers        2.4.0
stack-data              0.6.3
sympy                   1.14.0
tblib                   3.2.2
toolz                   1.1.0
torch                   2.7.1+cu118
torchaudio              2.7.1+cu118
torchvision             0.22.1+cu118
tornado                 6.5.5
tqdm                    4.67.3
traitlets               5.14.3
typing_extensions       4.15.0
tzdata                  2025.3
urllib3                 2.6.3
wcwidth                 0.6.0
win32_setctime          1.2.0
xarray                  2026.2.0
zict                    3.0.0